{% extends "base.html" %}
{% load static %}
{% block css %}{% static 'css/cadastro.css' %}{% endblock %}
{% block conteudo %}
<main>
    <div class="box">
        <h1 class="text">CADASTRAR</h1>
        <form method="post" class="edit-form">
            {% csrf_token %}
            <div class="dados">
                <div class="pessoa">
                    <div class="form-group">
                        <label for="id_nome">NOME:</label>
                        <input type="text" name="nome" id="id_nome" autocomplete="off" >
                    </div>
        
                    <div class="form-group">
                        <label for="id_cpf">CPF:</label>
                        <input type="text" name="cpf" id="id_cpf" autocomplete="off" >
                    </div>
        
                    <div class="form-group">
                        <label for="id_nasc">NASC:</label>
                        <input type="date" name="data_nasc" id="id_nasc" autocomplete="off">
                    </div>
        
                    <div class="form-group">
                        <label for="id_genero">GÊNERO:</label>
                        <input type="text" name="genero" id="id_genero" autocomplete="off">
                    </div>
        
                    <div class="form-group">
                        <label for="id_deficiencia">DEFICIÊNCIA:</label>
                        <input type="text" name="deficiencia" id="id_deficiencia" autocomplete="off">
                    </div>
        
                    <div class="form-group">
                        <label for="id_necessidades">NECESSIDADES:</label>
                        <input type="text" name="necessidades" id="id_necessidades" autocomplete="off">
                    </div>
                </div>
                <div class="endereco">
                    <div class="form-group">
                        <label for="id_logradouro">LOGRADOURO:</label>
                        <input type="text" name="logradouro" id="id_logradouro" autocomplete="off">
                    </div>
        
                    <div class="form-group">
                        <label for="id_bairro">BAIRRO:</label>
                        <input type="text" name="bairro" id="id_bairro">
                    </div>
        
                    <div class="form-group">
                        <label for="id_regiao">REGIÃO:</label>
                        <input type="text" name="regiao" id="id_regiao">
                    </div>
                </div>
            </div>
            <div class="botao">
                <button type="submit" class="btn">Confirmar</button>
            </div>
        </form>
    </div>
</main>

{% endblock %}