{% extends "base.html" %}
{% load static %}
{% block css %}{% static 'css/cadastro.css' %}{% endblock %}
{% block conteudo %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<main>
    <div class="box">
        <h1 class="text">EDITAR</h1>
        <form method="post" class="edit-form">
            {% csrf_token %}
            <div class="dados">
                <div class="pessoa">
                    <div class="esquerda">
                        <div class="form-group">
                            <label for="id_nome">NOME:</label>
                            <input type="text" name="nome" id="id_nome" autocomplete="off" value="{{ form_pessoa.instance.nome }}" required>
                        </div>
            
                        <div class="form-group">
                            <label for="id_cpf">CPF:</label>
                            <input type="text" name="cpf" id="id_cpf" autocomplete="off" maxlength="14" value="{{ form_pessoa.instance.cpf }}">
                        </div>
            
                        <div class="form-group">
                            <label for="id_nasc">NASC:</label>
                            <input type="date" name="data_nasc" id="id_nasc" autocomplete="off" value="{{ form_pessoa.instance.data_nasc|date:'Y-m-d' }}">
                        </div>
            
                        <div class="form-group">
                            <label for="id_genero">GÊNERO:</label>
                            <select name="genero" id="id_genero">
                                <option value="M"{% if form_pessoa.genero == 'M' %}selected{% endif %}>Masculino</option>
                                <option value="F"{% if form_pessoa.genero == 'F' %}selected{% endif %}>Feminino</option>
                            </select>
                        </div>
                    </div>
                    <div class="direita">
                        <div class="form-group">
                            <label for="id_deficiencia">DEFICIÊNCIA:</label>
                            <select name="deficiencia" id="id_deficiencia" required>
                                <option value="" disabled>-- Selecione uma opção --</option>
                                <option value="Física" {% if form_pessoa.instance.deficiencia == 'Física' %}selected{% endif %}>Física</option>
                                <option value="Auditiva" {% if form_pessoa.instance.deficiencia == 'Auditiva' %}selected{% endif %}>Auditiva</option>
                                <option value="Visual" {% if form_pessoa.instance.deficiencia == 'Visual' %}selected{% endif %}>Visual</option>
                                <option value="Intelectual" {% if form_pessoa.instance.deficiencia == 'Intelectual' %}selected{% endif %}>Intelectual</option>
                                <option value="Psicossocial" {% if form_pessoa.instance.deficiencia == 'Psicossocial' %}selected{% endif %}>Psicossocial</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="id_detalhes">DETALHES:</label>
                            <input type="text" name="detalhes" id="id_detalhes" autocomplete="off" value="{{ form_pessoa.instance.detalhes }}">
                        </div>
    
                        <div class="form-group">
                            <label for="id_necessidades">NECESSIDADES:</label>
                            <input type="text" name="necessidades" id="id_necessidades" autocomplete="off" value="{{ form_pessoa.instance.necessidades }}">
                        </div>
                    </div>
                </div>
                <div class="endereco">
                    <div class="form-group">
                        <label for="id_logradouro">LOGRADOURO:</label>
                        <input type="text" name="logradouro" id="id_logradouro" autocomplete="off" value="{{ form_pessoa.instance.enderecos.logradouro }}">
                    </div>
        
                    <div class="form-group">
                        <label for="id_bairro">BAIRRO:</label>
                            <select name="bairro" id="id_bairro" required>
                                <option value="" disabled>-- Selecione uma opção --</option>
                                {% for bairro in bairros %}
                                <option value="{{ bairro }}" {% if form_pessoa.instance.enderecos.bairro == bairro %}selected{% endif %}>{{ bairro }}</option>
                                {% endfor %}
                            </select>
                    </div>
        
                    <div class="form-group">
                        <label for="id_regiao">REGIÃO:</label>
                        <input type="text" name="regiao" id="id_regiao" autocomplete="off" value="{{ form_pessoa.instance.enderecos.regiao }}">
                    </div>
                </div>
            </div>
            <div class="botao">
                <button type="submit" class="btn">Confirmar</button>
            </div>
        </form>
    </div>
</main>
<script>
document.getElementById('id_cpf').addEventListener('input', function (e) {
    var cpf = e.target.value.replace(/\D/g, ''); // Remove tudo que não é número
    if (cpf.length > 3 && cpf.length < 7) {
        cpf = cpf.replace(/^(\d{3})(\d{1,3})/, '$1.$2');
    } else if (cpf.length >= 7 && cpf.length < 10) {
        cpf = cpf.replace(/^(\d{3})(\d{3})(\d{1,3})/, '$1.$2.$3');
    } else if (cpf.length >= 10) {
        cpf = cpf.replace(/^(\d{3})(\d{3})(\d{3})(\d{1,2})/, '$1.$2.$3-$4');
    }
    e.target.value = cpf;
});
</script>
{% endblock %}