{% extends "base.html" %}
{% load static %}
{% block css %}{% static 'css/home.css' %}{% endblock %}
{% block conteudo %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<main>
    <div class="introducao">
        <h1>UNICAD - Unidade de Cadastramento</h1>
    </div>
    <div class="sobre">
        <div class="sobre-text">
            <h1>SOBRE:</h1>
            <ul>
                <li>PLATAFORMA DE CADASTRO E CENSO DE
                    PESSOAS COM DEFICIÊNCIA</li>
                <li>MAPEAMENTO DETALHADO DAS
                    NECESSIDADES POR REGIÃO</li>
                <li>FACILIDADE DE ACESSO E CONSULTA ÀS
                    INFORMAÇÕES</li>
                <li>SUPORTE NA TOMADA DE DECISÕES PARA
                    MELHORIAS NA QUALIDADE DE VIDA DAS
                    PESSOAS COM DEFICIÊNCIA</li>
            </ul>
        </div>
        <div class="botoes">
            <div class="pessoas">
                <button onclick="location.href='{% url 'pessoas' %}'">Pessoas
                    <i class="fas fa-user"></i>
                </button>
            </div>
            <div class="relatorios">
                <button onclick="window.open('{% url 'relatorios' %}', '_blank')">Relatórios
                    <i class="fas fa-newspaper"></i></i>
                </button>
            </div>
        </div>
        <a href="https://plataforma.gpinovacao.senai.br/plataforma/ideia/236894" target="_blank">
            <img src="{% static 'imgs/logo.png' %}" class="logo-main">
        </a>
    </div>
    
</main>
{% endblock %}