{% extends "base.html" %}
{% load static %}
{% block css %}
{% static 'css/pessoas.css' %}
{% endblock %}
{% block conteudo %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<main>
  <div class="cima">
    <form method="get" class="caixa-de-pesquisa">
      <div class="caixa">
        <input type="text" name="pesquisa" id="id_pesquisa" autocomplete="off" placeholder="Caixa de Pesquisa" />
      </div>

      <div class="botao">
        <button type="submit" class="btn">Pesquisar</button>
      </div>
    </form>
    <div class="cadastrar">
      <form action="{% url 'cadastro' %}">
        <button class="cadastro" type="submit">
          <i class="fas fa-plus"></i>Cadastrar
        </button>
      </form>
    </div>
  </div>
  <div class="conteudo">
    {% for pessoa in pessoas %}
    <div class="pessoa">
      <h1 class="nome">{{ pessoa.nome }}</h1>
      <ul>
        <li>CPF: {{ pessoa.cpf }}</li>
        <li>NASC: {{ pessoa.data_nasc|date:"d/m/Y" }}</li>
        {% if pessoa.genero == 'Masculino' %}
        <li>GÊNERO: Masculino</li>
        {% else %}
        <li>GÊNERO: Feminino</li>
        {% endif %}
        <br />
        <li>LOGRADOURO: {{ pessoa.endereco.logradouro }}</li>
        <li>BAIRRO: {{ pessoa.endereco.bairro }}</li>
        <li>REGIÃO: {{ pessoa.endereco.regiao }}</li>
      </ul>
      <p class="deficiencia">DEFICIÊNCIA: {{ pessoa.deficiencias }}</p>
      {% if pessoa.detalhes %}
      <p class="detalhes">DETALHES: {{ pessoa.detalhes }}</p>
      {% else %}
      <p class="detalhes">DETALHES: Não Informado</p>
      {% endif %} {% if pessoa.necessidades %}
      <p class="necessidades">NECESSIDADES: {{ pessoa.necessidades }}</p>
      {% else %}
      <p class="necessidades">NECESSIDADES: Não Informada</p>
      {% endif %}
      <div class="botoes">
        <form method="GET" action="{% url 'editar' pessoa.id %}">
          {% csrf_token %}
          <button class="editar">Editar</button>
        </form>
        <form method="DELETE" action="{% url 'apagar' pessoa.id %}">
          {% csrf_token %}
          <button type="submit" onclick="return confirm('Tem certeza que deseja apagar esta pessoa?')" class="apagar">
            Apagar
          </button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="paginas">
    <span class="links">
      {% if pessoas.has_previous %}
      <a href="?pagina=1">&laquo; Primeira</a>
      <a href="?pagina={{ pessoas.previous_page_number }}">Anterior</a>
      {% endif %}

      <span class="atual">
        Página {{ pessoas.number }} de {{ pessoas.paginator.num_pages }}
      </span>

      {% if pessoas.has_next %}
      <a href="?pagina={{ pessoas.next_page_number }}">Próxima</a>
      <a href="?pagina={{ pessoas.paginator.num_pages }}">Última &raquo;</a>
      {% endif %}
    </span>
  </div>
</main>
{% endblock %}