{% extends "base.html" %}
{% load static %}
{% block css %}{% static 'css/relatorios.css' %}{% endblock %}
{% block conteudo %}
<main>
    <div class="esquerda">
        <div class="pessoas_cadastradas">
            <h1>Pessoas Cadastradas</h1>
            <div class="total">
                {{ total_pessoas }}
            </div>
        </div>
        <div class="baixo">
            <div class="apresentacao-baixo">
                <div class="text-bairros">
                    Bairros
                </div>
                <button class="expand-icon" onclick="toggleCheckboxes()">Mostrar Opções</button>
            </div>
            <form method="get">
                {% csrf_token %}
                <div class="checkboxes" style="display:none;">
                    {% for bairro in bairros %}
                        <input type="checkbox" id="bairro_{{ forloop.counter }}" name="bairros" value="{{ bairro }}">
                        <label for="bairro_{{ forloop.counter }}">{{ bairro }}</label><br>
                    {% endfor %}
                </div>
                <button class="save-button">Salvar</button>
            </form>
        </div>
    </div>
    <div class="conteudo">
        {% if selected_bairros %}
        <canvas class="grafico" id="grafico"></canvas>
        {% else %}
        <div class="selecione_bairros">
            <p>Selecione Algum Bairro Para Gerar um Gráfico!</p>
        </div>
        {% endif %}
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('grafico');
  
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: {{ selected_bairros|safe }},
        datasets: [{
          label: 'Deficientes',
          data: {{ deficiencia_por_bairro|safe }},
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    function toggleCheckboxes() {
        var buttonexpandicon = document.querySelector('.expand-icon')
        var box = document.querySelector('.esquerda')
        var checkboxes = document.querySelector('.checkboxes');
        var conteudo = document.querySelector('.conteudo')

        if (checkboxes.style.display === 'none') {
            checkboxes.style.display = 'block';
            buttonexpandicon.textContent = 'Esconder Opções'
            box.style.height = '830px'
            conteudo.style.marginTop = '70px'
        } else {
            checkboxes.style.display = 'none';
            buttonexpandicon.textContent = 'Mostrar Opções'
            box.style.height = '100px'
            conteudo.style.marginTop = '0px'
        }
    }
</script>
{% endblock %}