@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito&family=Poppins&display=swap');


main{
    width: 100%;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width: 850px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 140px rgba(0, 38, 255, 0.363);
}

.text {
    text-align: center;
    font-family: 'Nunito';
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dados{
    display: flex;
    justify-content: space-around;
}

.pessoa{
    display: flex;
    width: 180px;
}

.pessoa .direita{
    margin-left: 100px;
}

.pessoa .esquerda{
    margin-left: -50px;
}

.endereco{
    margin-left: 110px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    font-family: 'Lato';
    margin-bottom: 7px;
}

.form-group select {
    font-family: 'Lato';
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 130%;
}

.direita select{
    margin-top: 5px;
    font-size: 16px;
    width: 190%;
}

#id_necessidades,
#id_detalhes{
    width: 170%;
}

.botao {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botao button {
    width: 200px;
    padding: 10px;
    background-color: #94ffc4;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 26px;
    font-family: 'Poppins';
    cursor: pointer;
    transition: background 0.3s ease;
}

.botao button:hover {
    background-color: #34b45f;
}

input[type="text"],
input[type="date"] {
    width: 120%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Lato';
    outline: none;
}
