@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

main{
    margin: 0;
    min-height: 760px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introducao{
    padding: 20px;
    margin: 10px;
    max-width: 1500px;
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    border-radius: 20px;
    color: #36519a;
}

.sobre{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.sobre img{
    height: 300px;
    margin-right: 100px;
    border-radius: 500px;
}

.sobre img:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.sobre-text{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    max-width: 450px;
    min-height: 300px;
    margin-left: 100px;
    border-radius: 50px;
    font-size: 10px;
    font-family: 'Quicksand', sans-serif;
    justify-content: flex-start;
}

.sobre-text h1{
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 32px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.sobre-text li{
    text-decoration: underline rgb(0, 68, 255);
    font-size: 18px;
}
