@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Lato:wght@700&family=Nunito&family=Poppins&family=Quicksand&display=swap');

main {
    min-height: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    height: 350px;
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 10px 10px 130px 0 rgba(0, 0, 0, 0.2);
}

.login-box h1 {
    font-family: 'Kanit';
    padding: 0;
    font-size: 42px;
    margin-bottom: 10px;
    margin-top: 0px;
    color: #333;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 80%;
}

.textbox {
    position: relative;
    font-size: 34px;
    margin-bottom: 10px;
}

.textbox input {
    font-family: 'Montserrat', sans-serif;
    width: 350px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    width: 370px;
    padding: 10px;
    font-size: 22px;
    margin-top: 120px;
    font-family: 'Lato', sans-serif;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #0056b3;
}

.error-message {
    display: flex;
    align-items: flex-end;
    color: red;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.error-message p {
    font-family: 'Lato';
    margin: 0;
    font-size: 17px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
