
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito&family=Poppins&display=swap');

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cima{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cadastrar{
    margin-top: 10px;
    margin-left: 25px;
    align-self: flex-start;
}

.cadastro{
    width: 400px;
    height: 70px;
    font-size: 32px;
    font-family: 'Lato';
    background-color: rgb(117, 161, 255);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.cadastro:hover {
    background: #0056b3;
}

.cadastro i{
    margin-right: 10px;
}

.caixa-de-pesquisa{
    width: fit-content;
    height: 70px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.caixa input[type="text"] {
    text-align: center;
    height: 30px;
    width: 400px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

.botao button {
    height: 50px;
    margin-left: 10px;
    padding: 0 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao button:hover {
    background-color: #0056b3;
}

.conteudo{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    min-height: 600px;
    width: 98%;
    background-color: #ffffff;
    border-radius: 15px;
}

.pessoa{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    padding: 15px;
    min-width: 300px;
    max-width: 500px;
    min-height: 200px;
    background-color: #e3efff;
    border: 5px solid rgb(0, 89, 255);
}

.pessoa h1{
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    text-decoration: #0056b3 underline;
    font-family: 'Nunito';
}

.pessoa li{
    margin-left: -20px;
    font-size: 18px;
    font-family: 'Poppins';
    color: #0056b3;
}

.pessoa ul{
    margin-bottom: 0px;
}

.deficiencia,
.necessidades,
.detalhes{
    word-wrap: break-word;
    margin-top: 20px;
    margin-left: -2px;
    margin-bottom: -5px;
    font-size: 20px;
    font-weight: bold;
    text-justify: auto;
    font-family: 'Poppins';
    color: rgb(9, 31, 151);
}

.botoes{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.editar,
.apagar{
    margin-top: 20px;
    width: 120px;
    height: 50px;
    font-family: 'Lato';
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.editar{
    background-color: rgb(103, 164, 167);
}

.apagar{
    background-color: rgb(155, 60, 60);
}

.editar:hover{
    background-color: rgb(73, 197, 187);
}

.apagar:hover{
    background-color: rgb(97, 17, 17);
}